@use './dark.scss';
@use 'element-plus/theme-chalk/src/dark/css-vars.scss' as *;

:root {
  --bg-color: var(--el-bg-color);
  --page-bg-color: #f0f2f5;
  --page-text-color: rgba(0, 0, 0, 0.85);
  --footer-text-color: rgba(0, 0, 0, 0.45);
}

html.dark {
  --page-bg-color: #1d1e1f;
  --page-text-color: rgba(255, 255, 255, 0.85);
  --footer-text-color: #e5eaf3;
}

// reset
ul {
  padding-inline-start: 0;
}
li {
  list-style-type: none;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  margin-block-start: 0;
  margin-block-end: 0;
}

body {
  background-color: var(--bg-color);
}

a {
  text-decoration: none;
}

// 部分类名参考 tailwind 命名
// flex
.flex {
  display: flex;
}
.flex-col {
  flex-direction: column;
}
.flex-1 {
  flex: 1 1 0%;
}
.items-center {
  align-items: center;
}
.justify-center {
  justify-content: center;
}

// margin
.mr-3 {
  margin-right: 12px;
}
.mr-4 {
  margin-right: 16px;
}
.mr-5 {
  margin-right: 20px;
}
.ml-auto {
  margin-left: auto;
}
.ml-3 {
  margin-left: 12px;
}
.ml-4 {
  margin-left: 16px;
}
.mt-3 {
  margin-top: 12px;
}
.mt-4 {
  margin-top: 16px;
}
.mt-5 {
  margin-top: 20px;
}
.mb-4 {
  margin-bottom: 16px;
}

// width
.w-full {
  width: 100%;
}
.h-full {
  height: 100%;
}

.overflow-auto {
  overflow: auto;
}

.overflow-hidden {
  overflow: hidden;
}

// cursor
.cursor-pointer {
  cursor: pointer;
}

// line-clamp
.line-clamp-2 {
  overflow: hidden;
  display: -webkit-box;
  -webkit-box-orient: vertical;
  -webkit-line-clamp: 2;
}
